body {
    background-color: whitesmoke;
}

/* #img-container {
    background-image: url('https://images.unsplash.com/photo-1552505557-c085030eea99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
    width: 100%;
    height: 400px;
    background-size: cover;
}

#img-gradient {
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('https://images.unsplash.com/photo-1552505557-c085030eea99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
    width: 100%;
    height: 400px;
    background-size: cover;
} */

.show_bg_2 {
    background-image:
    linear-gradient(to top, rgba(41, 128, 185, 0.52), rgba(109, 213, 250, 0.73)),
    url('https://images.unsplash.com/photo-1511883040705-6011fad9edfc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2853&q=80');
    width: 100%;
    height: 300px;
    background-size: cover;
    color: white;
    padding: 20px;
    background-image: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: black;
}

i {
    font-size: 50px!important;
}

.search {
    background-color: rgba(0,0,0,.4);
    border-radius: 15px;
}

input[type=search]:not(.browser-default) {
    border-bottom: none;
}